.memory-block {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.bg-success {
  background-color: green;
}

.bg-light {
  background-color: lightgray;
}

.border {
  border-width: 1px;
}

.no-padding {
  background-color: red;
}
